.top-navbar{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 20px;
    transition: .5s ease-in-out;
  }
  
  .nav-item a {
    font-size: large;
    color: black;
  }
  .navbar-nav {
    margin-left: auto;
    padding-right: 10px;
  }
  
  .navbar-brand img{
    width:230px;
     height:70px;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu{
    border: none;
    /* background: transparent; */
  }

  #donatebutton{
    background-color: rgb(15, 179, 15);width: fit-content; color: honeydew;border-radius: 10px;margin-left: 8px; padding-right: 8px;
  }
  #donatebutton:hover{
      /* background-color: #7bdb7b; */
      box-shadow:0px 10px 10px #0f9c0f;
  }
         
 
button, input {
	font: 1em Hind, sans-serif;
	line-height: 1.5em;
}
input {
	color: #171717;
}
.search-bar {
	display: flex;
}

.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	/* margin: auto; */
	/* padding: 1.5em; */
	/* justify-content: center; */
	max-width: 12em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
    margin-left: 5px;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: rgb(15, 179, 15);
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: rgb(15, 179, 15);
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}
/* 
@media screen and (prefers-color-scheme: dark) {
	
	.search-bar input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}
	.search-bar input:focus,
	.search-bar input:valid {
		background: #3d3d3d;
		box-shadow: 0 0 0 0.1em #3d3d3d inset;
	}
	.search-btn {
		background: #f1f1f1;
	}
} */

 
  *{  
    margin: 0%;
    padding: 0%;
    font-family:'Times New Roman', Times, serif; 
  } 



.refund{
    margin: 0;
    padding: 2em;
    background: white;
    /* font-family: 'Raleway', sans-serif;
    font-weight: bold; */
    word-wrap: break-word;
}

.refund .content .heading{
    font-size: xx-large;
    /* color: rgb(120, 163, 201); */
    margin: 0px 0px 24px 0px;
    /* text-align: center; */
}

.refund .content .para{
    font-size: 20px;
}

.refund .content h3{
    text-transform: capitalize;
    /* color: rgb(120, 163, 201); */
    font-size: xx-large;

}

.refund .content .para ul{
    padding: 0px 20px;
    margin: 0;
}

.refund .content span1{
    color: red;
}

.refund .last{
    display: flex;
    justify-content: left;
}

.refund .last p{
    padding: 0;
    margin: 0;
}

.refund .contact{
    text-align: center;
    font-size: 20px;

}

.refund .contact .row{
    display: flex;
    justify-content: center;
    column-gap: 5%;}

@media(max-width:550px){
    .row{
        flex-direction: column;
    }
    .col{
        width: 100%;
    }
}

    /* Subscribe */

    .subscribe{
        text-align: center;
        padding: 20px;
      }
      .subscribebtn:hover{
        background-color:#0f9c0f;
        border: none;
      }
      
      .subscribebtn{
        background-color:rgb(15,179,15);
        color: white;
        border: none;
      }
      .inptfld{
        border-radius: 20px;
        padding: 5px;
        width: 20%;
      
      }
       .subscribebtn{
        border-radius: 20px;
        border: none;
        padding: 5px;
      }
    
    /* footer */
              .footer #socialicon a {
                text-decoration: none;
              }
              
              .footer a{
                text-decoration: none;
              }
              .footer #socialicon .text-white{
                margin-right:0.5rem ;
              } 
            
              
              .footer #socialicon i{
                text-align: left;
                font-size: large;
              }


              
      @media screen and (min-device-width: 200px) and (max-device-width: 800px) {
        .navbar-light .navbar-nav .nav-link {
          color: #000000;
          font-size: 1rem;
          padding-left: 5px;
          transition: .5s ease-in-out;
        }
        
        .nav-item a {
          font-size: 0.9rem;
          color: black;
         
        }
    
      
    
            .subscribe .inptfld
      {
        width: 50%;
        height: 50px;
      }
      
      .subscribe .subscribebtn{
        width:fit-content;
        height: 50px;
      }
    }

    
#topbtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 18px;
  background-color: rgb(15, 179, 15);
  cursor: pointer;
  padding:5px 10px;
  border-radius: 50%;
}

/* 
@media screen and (max-device-width: 800px){

  #topbtn {
    font-size: 2rem;
  }
} */