body{
    margin:0;
}

*{  
    margin: 0%;
    padding: 0%;
    font-family:'Times New Roman', Times, serif; 
  }
  
  /* navbar */
  .top-navbar{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 20px;
    transition: .5s ease-in-out;
  }
  
  .nav-item a {
    font-size: large;
    color: black;
  }
  .navbar-nav {
    margin-left: auto;
    padding-right: 10px;
  }
  
  .navbar-brand img{
    width:230px;
     height:70px;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu{
    border: none;
    /* background: transparent; */
  }
  
#donatebutton{
    background-color: rgb(15, 179, 15);width: fit-content; color: honeydew;border-radius: 10px; margin-left: 8px; padding-right: 8px;
  }
  #donatebutton:hover{
      /* background-color: #7bdb7b; */
      box-shadow:0px 10px 10px #0f9c0f;
  }

  
  button, input {
    /* font: 1em Hind, sans-serif; */
    line-height: 1.5em;
  }
  input {
    color: #171717;
  }
  .search-bar {
    display: flex;
  }
  
  .search-bar input,
  .search-btn, 
  .search-btn:before, 
  .search-btn:after {
    transition: all 0.25s ease-out;
  }
  .search-bar input,
  .search-btn {
    width: 3em;
    height: 3em;
  }
  .search-bar input:invalid:not(:focus),
  .search-btn {
    cursor: pointer;
  }
  .search-bar,
  .search-bar input:focus,
  .search-bar input:valid  {
    width: 100%;
  }
  .search-bar input:focus,
  .search-bar input:not(:focus) + .search-btn:focus {
    outline: transparent;
  }
  .search-bar {
    /* margin: auto; */
    /* padding: 1.5em; */
    /* justify-content: center; */
    max-width: 12em;
  }
  .search-bar input {
    background: transparent;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #171717 inset;
    padding: 0.75em;
      margin-left: 5px;
    transform: translate(0.5em,0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .search-bar input::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  .search-bar input:focus,
  .search-bar input:valid {
    background: #fff;
    border-radius: 0.375em 0 0 0.375em;
    box-shadow: 0 0 0 0.1em #d9d9d9 inset;
    transform: scale(1);
  }
  .search-btn {
    background: #171717;
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
    transform-origin: 0 50%;
  }
  .search-btn:before, 
  .search-btn:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
  }
  .search-btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #f1f1f1 inset;
    top: 0.75em;
    left: 0.75em;
    width: 1.2em;
    height: 1.2em;
  }
  .search-btn:after {
    background: #f1f1f1;
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 51%;
    width: 0.75em;
    height: 0.25em;
    transform: translate(0.2em,0) rotate(45deg);
    transform-origin: 0 50%;
  }
  .search-btn span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
  }
  
  /* Active state */
  .search-bar input:focus + .search-btn,
  .search-bar input:valid + .search-btn {
    background: rgb(15, 179, 15);
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
  }
  .search-bar input:focus + .search-btn:before, 
  .search-bar input:focus + .search-btn:after,
  .search-bar input:valid + .search-btn:before, 
  .search-bar input:valid + .search-btn:after {
    opacity: 1;
  }
  .search-bar input:focus + .search-btn:hover,
  .search-bar input:valid + .search-btn:hover,
  .search-bar input:valid:not(:focus) + .search-btn:focus {
    background: rgb(15, 179, 15);
  }
  .search-bar input:focus + .search-btn:active,
  .search-bar input:valid + .search-btn:active {
    transform: translateY(1px);
  }
/*       
  @media screen and (prefers-color-scheme: dark) {
    
    .search-bar input {
      box-shadow: 0 0 0 0.4em #f1f1f1 inset;
    }
    .search-bar input:focus,
    .search-bar input:valid {
      background: #3d3d3d;
      box-shadow: 0 0 0 0.1em #3d3d3d inset;
    }
    .search-btn {
      background: #f1f1f1;
    }
  } */
  
.blog {
    
    font-family: 'Eczar', serif;
    margin: 0;
    padding:0%;
}

.one {
    background-image: url('blog-img-2.jpg');
    width: auto;
    height:600px;
    padding: -11%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 33%;
}

.two {
    padding: 21%;
    padding-top: 0%;
    padding-bottom: 1%;;

}

.blog .two h2 {
    font-size: 1.9rem;
    font-weight: 600;
    font-family: 'Yatra One', cursive;
    padding-top:4%;
}

.blog .two p{
    font-size: 1.5rem;
    font-family: 'Karma', serif;
}


@media(min-width:460px) and (max-width:770px){
    .one{
        width:auto;
        height: 300px;
    }
    .two{
        padding:0%;
    }
}

@media(min-width:315px) and (max-width:460px){
    .one{
        width:auto;
        height:200px;
    }
    .two{
        padding:0%;
    }
}

@media(min-width:200px) and (max-width:315px){
    .one{
        width:auto;
        height: 150px;
    }
    .two{
        padding:0%;
    }
}

@media(min-width:770px) and (max-width:870px){
    .one{
        width:auto;
        height:400px;
    }
    .two{
        padding:0%;
    }
}

@media(min-width:870px) and (max-width:1000px){
    .one{
        width:auto;
        height:450px;
    }
    .two{
        padding:0%;
    }
}

@media(min-width:1000px) and (max-width:1300px){
    .one{
        width:auto;
        height:600px;
    }
    .two{
        padding:0%;
    }
}
.navbar-brand img{
    width:230px;
     height:70px;
  }

  

    /* Subscribe */

    .subscribe{
        text-align: center;
        padding: 20px;
      }
      .subscribebtn:hover{
        background-color:#0f9c0f;
        border: none;
      }
      
      .subscribebtn{
        background-color:rgb(15, 179, 15);
        color: white;
        border: none;
      }
      .inptfld{
        border-radius: 20px;
        padding: 5px;
        width: 20%;
      
      }
       .subscribebtn{
        border-radius: 20px;
        border: none;
        padding: 5px;
      }
    
    /* footer */
              .footer #socialicon a {
                text-decoration: none;
              }
              
              .footer a{
                text-decoration: none;
              }
              .footer #socialicon .text-white{
                margin-right:0.5rem ;
              } 
            
              
              .footer #socialicon i{
                text-align: left;
                font-size: large;
              }

 
@media(max-width:800px){
    
  .navbar-light .navbar-nav .nav-link {
    color: #000000;
    font-size: 1rem;
    padding-left: 5px;
    transition: .5s ease-in-out;
  }
  
  .nav-item a {
    font-size: 0.9rem;
    color: black;
   
  }
      .subscribe .inptfld
      {
        width: 50%;
        height: 50px;
      }
      
      .subscribe .subscribebtn{
        width:fit-content;
        height: 50px;
      }
}


#topbtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 18px;
  background-color: rgb(15, 179, 15);
  cursor: pointer;
  padding:5px 10px;
  border-radius: 50%;
}

/* 
@media screen and (max-device-width: 800px){

  #topbtn {
    font-size: 2rem;
  }
} */